.layout-box {
  min-height: 100vh;
  .layout-logo {
    height: 32px;
    margin: 16px;
    background-image: ~"url('/logo192.png')";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .layout-sider-container {
    height: calc(100% - 64px);
    overflow: hidden auto;
  }
  .layout-content {
    padding: 24px;
    background-color: var(--main-gray);
    .layout-content-item {
      background-color: #fff;
      padding: 16px;
      margin-bottom: 16px;
    }
  }
  .layout-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    > * {
      padding: 0 12px;
      cursor: pointer;
      height: calc(100% - 20px);
      transition: 0.4s;
      background-color: rgba(0, 0, 0, 0);
      display: flex;
      align-items: center;
    }
    > *:hover {
      background-color: rgba(0, 0, 0, 0.025);
    }
    a {
      color: inherit;
    }
  }
}
.layout-message-header {
  display: flex;
  justify-content: space-between;
  a {
    font-size: 12px;
  }
}
