html,
body {
  margin: 0;
}
.align-center {
  text-align: center;
}
.global-loading {
  user-select: none;
  .v-overlay__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.el-select .el-tag {
  max-width: 90%;
  position: relative;
  .el-select__tags-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    padding-right: 10px;
  }
  i {
    position: absolute;
    top: 5px !important;
    right: 0 !important;
  }
}
