html,
body {
  margin: 0;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8d8d8d;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.animate__animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.animate__fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.align-center {
  text-align: center;
}
.global-loading {
  user-select: none;
  .v-overlay__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.el-select .el-tag {
  max-width: 90%;
  position: relative;
  .el-select__tags-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    padding-right: 10px;
  }
  i {
    position: absolute;
    top: 5px !important;
    right: 0 !important;
  }
}
.el-drawer,
.el-scrollbar__wrap {
  overflow: hidden auto !important;
}

.not-found {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
