.align-center {
  text-align: center;
}
.global-loading {
  user-select: none;
  .v-overlay__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
